@font-face {
    font-family: PTS;
    src: url(../../font/PTSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: PTS;

    color: #000;

    padding: 0;
    margin: 0;
}

body.no-scroll {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
li,
ol,
a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;

    margin: 0;
}

h1, h2, h3, h4, h5, h6,
span {
    margin: 0;
}

.page {
    margin: 0 auto;

    overflow: hidden;
}

._container {
    max-width: 1100px;

    margin: 0 auto;
}

.img {
    width: 100%;
    height: auto;

    display: block;
}










/* =====HEADER===== */
.header {
    position: fixed;
    left: 0;right: 0;
    z-index: 1000;

    background: #fff;
}

.header::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 3px;

    background: linear-gradient(to top, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, 0.1) 100%);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;

    padding: 10px 90px 10px 10px;
}

.header__logo {}

.menu {
    display: flex;
}

.menu__icon {
    width: 30px;
    height: 20px;

    position: relative;

    visibility: hidden;
    opacity: 0;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
    content: "";

    border: 1px solid #000;

    width: 100%;
    height: 10%;

    transition: all .3s linear;
    position: absolute;
}

.menu__icon span {
    top: 50%;
    transform: translatey(-50%);
}

.menu__icon::before {
    content: "";

    top: 0;
    transform: translatey(-50%);
}

.menu__icon::after {
    content: "";

    top: 100%;
    transform: translatey(-50%);
}

.menu__body {
    display: flex;
}

.menu__body > li {
    list-style-type: disc;
    color: #c7b5ac;
}

.menu__body > li:first-child {
    list-style-type: none;
}

.menu__body > li > a {
    margin-right: 60px;
    margin-left: 40px;
}

.menu__link {
    color: #000;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}









/* =====INTRO===== */
.intro {
    background: url(../../img/intro/intro_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;

    display: flex;
}

.intro__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    max-width: 650px;
}

.intro__logo {
    margin-bottom: 40px;
}

.intro__name {
    text-transform: uppercase;
    font-size: 14px;
}

.intro__img {
    margin: 25px 0;
}

.intro__text {
    font-size: 16px;
}










/* =====SOUP BLOCK===== */
.block__soup {
    background: url(../../img/block__soup/soup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 200px 0;

    color: #fff;
}

.soup__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    padding: 0 120px 0 35px;
}

.soup__body {
    
}

.soup__content {
    margin: 0 70px;
}

.soup__content {
    font-size: 20px;

    max-width: 500px;
}

.fieldset {
    border: 6px solid #fff;

    max-width: 700px;
}

.soup__text p{
    margin: 15px 0 0;
}

.soup__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.soup__info_price {
    font-size: 60px;
    margin: 30px 0 0;
}









/* =====MENU BLOCK===== */
.menu__block {
    padding: 50px 0;
}

.menu__section {
    border-bottom: 1px solid;
}

.menu__section_header {
    position: relative;

    cursor: pointer;

    padding: 30px 15px;
}

.menu__section_header h3 {
    display: flex;
    align-items: center;
}

.menu__section_header img {
    margin-right: 20px;
}

.menu__section_header::before,
.menu__section_header::after {
    content: '';

    width: 10px;
    height: 1px;

    background: #000;

    position: absolute;

    transition: all .3s linear;
}

.menu__section_header::before {
    transform: rotate(-40deg) translatey(-50%);
    right: 0;top: 50%;
}

.menu__section_header::after {
    transform: rotate(40deg) translatey(-50%);
    right: 7px;top: 50%;
}

.menu__section_header._show::before {
    transform: rotate(40deg);
}

.menu__section_header._show::after {
    transform: rotate(-40deg);
}

.slick-slider {
    /* display: none; */
}

.menu__section_body {
    display: none;
    width: 100%;

    padding-bottom: 50px;
}

.menu__section_body._active {
    display: flex;
}

.block__content {
    flex: 1 1 100%;
    max-width: 200px;

    margin-right: 15px;

    margin-right: 15px;
}







/* =====STEAK BLOCK===== */
.block__steak {
    background: url(../../img/steak__block/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 200px 0;

    color: #fff;
}

.steak__title {
    text-align: start;
    font-size: 25px;
    line-height: 60px;
    font-weight: bold;

    margin: 0;

    text-transform: uppercase;

    padding: 0 50px 0 35px;
}

.steak__body {
    
}

.steak__content {
    margin: 0 35px;
}

.steak__content {
    font-size: 20px;

    max-width: 400px;
}

.steak__text {
    margin-bottom: 30px;
}

.steak__text p{
    margin: 15px 0 0;
}

.steak__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.steak__info_price {
    font-size: 60px;
    margin: 30px 0 0;
}











/* =====GALERY===== */
.galery__body {
    display: flex;
    flex-wrap: nowrap;
}

.galery__body img {
    height: 210px;
}

.disable {
    opacity: .3;

    transition: opacity .2s linear;
}

.disable.slick-center {
    opacity: 1;
}









/* =====MAP===== */
.map {
    background: url(../../img/Block__pin/Layer\ 43.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 100px 0;

    color: #fff;
}

.map__body {
    position: relative;
}

.map__body img {
    position: absolute;
    left: 80%;top: 30%;
}

.map__body h1 {
    margin-bottom: 350px;

    font-size: 60px;
}

.adress {
    display: flex;
    justify-content: space-between;
}

.adress__item {
    padding: 40px 70px;
}

.adress__item._active {
    border: 2px solid red;
}

.adress__item h3 {
    font-size: 24px;
    font-weight: bold;
}

.adress__item p {
    font-size: 14px;
}

.adress__item_text {
    font-size: 12px;
}

.adress__item_time {
    display: flex;
    justify-content: space-between;
}

.adress__item_time p {
    margin: 5px;
}












/* =====FOOTER===== */
.footer {}

.footer__body {
    display: flex;
    justify-content: flex-start;

    margin: 95px auto;
}

.news {
    max-width: 650px;

    margin-right: 70px;
}

.news h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.news__blocks {
    display: flex;
    flex-direction: column;
}

.news__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 50px;
}

.news__date {
    min-width: 100px;

    font-size: 12px;
    color: rgba(0, 0, 0, .7);

    margin-right: 50px;
}

.news__date p {
    margin: 0;
}

.news__text {
    max-width: 510px;
}

.news__text p {
    margin: 0;
}

.mail__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    max-width: 400px;

    margin-top: 30px;
}

.mail__form h3 {
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 30px;
}

.mail__social {
    display: flex;

    position: relative;
    z-index: 1;

    margin-bottom: 30px;
}

.image::before {
    content: '';

    position: absolute;

    width: 10%;
    height: 53px;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0) 100%);
}

.form h4 {
    font-size: 13px;
    font-weight: bold;
}

.block__input {
    margin: 30px 0 0 0;

    display: flex;
    align-items: center;

    border: 1px solid #ccc;
}

.block__input input{
    padding: 15px 15px;

    border: 0;
    border-right: 1px solid #ccc;

    font-family: PTS;
    font-size: 14px;
}

.block__input button{
    padding: 11px 20px;
    
    border: 0;
    background: none;

    font-family: PTS;
    font-size: 14px;
}

.block__input button:focus,
.block__input input:focus {
    outline: none;
}












@media (max-width: 1200px) {
    .intro {
        padding: 0 10px;
    }

    .intro__content {
        margin: 0 auto;
    }
    
    .fieldset {
        margin: 0 10px;
    }

    .menu__block {
        margin: 0 15px;
    }

    .map__body {
        margin: 0 15px;
    }

    .map__body h1 {
        margin-bottom: 250px;
    }

    .footer__body {
        margin: 95px 15px;
    }
}

@media (max-width: 991px) {
    .intro {
        padding: 0 10px;
    }

    .intro__content {
        margin: 0 auto;
    }

    .intro__logo {
        margin: 0;
    }

    .intro__logo img {
        width: 100px;
        height: 70px;
    }

    .intro__img {
        margin: 0;
    }

    .map__body h1 {
        margin-bottom: 200px;
    }

    .adress {
        flex-wrap: wrap;
    }
    .adress__item {
        margin-bottom: 10px;
        padding: 20px 50px;
    } 
}

@media (max-width: 767px) {
    .header__inner {
        padding: 10px 20px;
    }

    .intro__logo {
        margin-top: 70px;
    }

    .block__soup {
        padding: 150px 0;
    }

    .menu__icon {
        visibility: visible;
        opacity: 1;

        z-index: 4;
    }

    .menu__icon._active span {
        visibility: hidden;
        opacity: 0;
    }

    .menu__icon._active::before {
        content: "";

        top: 50%;
        transform: rotate(-45deg);
    }

    .menu__icon._active::after {
        content: "";

        top: 50%;
        transform: rotate(45deg);
    }

    .menu__body {
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 0;right: 0;
        z-index: 3;
        overflow: auto;

        margin: 0;
        padding: 90px 30px 20px;

        width: 65%;
        height: 100%;

        background: #fff;
        border-left: 3px solid rgba(0, 0, 0, .7);

        transform: translate(100%, 0px);
        transition: all .3s linear;
    }

    .menu__body._active {
        transform: translate(0%, 0px);
    }

    .menu::after {
        content: '';

        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;

        width: 35%;
        height: 100%;

        background:rgba(0, 0, 0, .4);

        transform: translate(-100%, 0px);
        transition: all .3s linear;
    }

    .menu._active::after {
        content: "";

        transform: translate(0%, 0px);
    }

    .menu__body li {
        list-style-type: none;

        margin-bottom: 35px;
    }

    .menu__link {
        
    }

    .menu__body > li > a {
        margin: 0;

        font-size: 25px;

    }

    .fieldset {
        margin: 0 10px;
    }

    .soup__title,
    .steak__title {
        font-size: 20px;

        padding: 0 15px;
    }

    .steak__title {
        font-size: 18px;
    }

    .soup__content,
    .steak__content {
        font-size: 15px;
    }

    .soup__info_price,
    .steak__info_price {
        font-size: 35px;
    }

    .map__body h1 {
        margin-bottom: 50px;
    }

    .adress {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .footer__body {
        flex-direction: column;
        align-items: center;
    }

    .news__block {
        display: block;
    }
}

@media (max-width: 480px) {
    .fieldset {
        border: 2px solid;
    }

    .soup__title,
    .steak__title {
        font-size: 15px;

        padding: 0 10px;
    }

    .steak__title {
        font-size: 13px;
        line-height: normal;
    }

    .soup__content,
    .steak__content {
        font-size: 13px;
    }

    .soup__info,
    .steak__info {
        align-items: center;

        margin-top: 10px;
    }

    .soup__info_price,
    .steak__info_price {
        font-size: 20px;

        margin: 0;
    }

    .menu__block {
        margin: 0 15px;
    }

    .map__body h1 {
        font-size: 50px;
    } 

    .adress {
        position: relative;
        z-index: 2;
    }

    .news h1 {
        font-size: 50px;
    }
}

@media (max-width: 350px) {
    .menu__block {
        margin: 0 15px;
    }

    .menu__block_title h1 {
        font-size: 50px;
    }

    .steak__title {
        font-size: 11px;
    }

    .news h1 {
        font-size: 45px;
    }
}